@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: #fff;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  padding: 0px;
  margin: 0px;
}
